[submodule "Graphics"]
	path = Graphics
	url = https://github.com/Synestia-Studio/Graphics.git
[submodule "GP1"]
	path = GP1
	url = https://github.com/40021441054102/GP1.git
[submodule "GP2"]
	path = GP2
	url = https://github.com/40021441054102/GP2.git
[submodule "GP3"]
	path = GP3
	url = https://github.com/40021441054102/GP3.git
[submodule "GP5"]
	path = GP5
	url = https://github.com/40021441054102/GP5.git
